<!--<div [class.myContent]="true"><br/>  {{nameLabel}} : <input type="text" [(ngModel)]="name" /><br/>  {{cityLabel}} : <input type="text" [(ngModel)]="city" /><br/><br/></div>
-->
<div class="row">
	<div class="col-xs-1 col-sm-1"></div>
	<div class="col-sm-10">
		<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{intro}}</h3>
				</div>
				<div class="panel-body">
					<!-- ** BEGIN: MESSAGE AREA ** -->
					<!--  <div class="row"
               *ngIf="messages.length > 0">
            <div class="col-xs-12">
              <div class="alert alert-danger" role="alert">
                <ul>
                  <li *ngFor="let msg of messages">
                    {{msg}}
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
					<!-- ** END: MESSAGE AREA ** -->
					<!-- ** BEGIN: LOADING MESSAGE AREA ** -->
					<div class="row" *ngIf="isLoading">
						<div class="col-sm-offset-1 col-sm-10 alert alert-warning">
							<div class="text-center">Please wait while loading your
								details...</div>
						</div>
					</div>
					<!-- Content start -->
					<div>
						<div class="row">

							<div class="form-group col-sm-5">
								<label for="nameType">Username</label> <input type="text"
									class="form-control" formControlName="name" placeholder="Enter your Name" title="Enter your Name"/>
							</div>
							<div class="col-sm-1"></div>
							<div class="form-group col-sm-5">
								<label for="securityCode">City</label> <input type="text"
									class="form-control" formControlName="city" placeholder="City you Born" title="City you Born"/>
							</div>

						</div>
						<div class="row">

							<div class="form-group col-sm-5">
								<label for="nameType">Date of Birth</label> <input type="date"
									class="form-control" formControlName="dob" />
							</div>
							<div class="col-sm-1"></div>
							<div class="form-group col-sm-5">
								<label for="securityCode">Time of Birth</label> <input type="text"
									class="form-control" formControlName="tob" placeholder="Time of Birth" title="Time of Birth" pattern="^(0?[1-9]|1[012])(:[0-5]\d) [APap][mM]$"/>
							</div>
						</div>
					</div>
					<!--  Content End -->


				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-11">
							<div class="pull-right">
								<button type="submit" class="btn btn-primary">
									<i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;Save
								</button>
								<button type="button"  (click)="onAstroClick()" class="btn btn-primary">
									<i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;Date/Time
								</button>
								<button type="button" class="btn btn-primary" (click)="goBack()">
									<i class="glyphicon glyphicon-remove-circle"></i> &nbsp;Cancel
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-xs-1 col-sm-1"></div>

</div>
<div class="row" >
<hr/>
-->     {{astroInfo}}

<script type="text/javascript">
var json = '{"result":true,"count":1}',
    obj = JSON.parse(json);

alert(obj.count);
</script>
            <div class="col-xs-12">
                   <ul>
                 
                </ul> 
            </div>
          </div>
